html, body{
  padding: 0;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: #FBDD91;
}

body {
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
  background-color: #fff;
  text-align: center;
  width: 90%;
  height: 90%;
  background-color: #FBDD91;
}

#title {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 60px;
  color: #001B58;
  top: 20px;
}

#main {
  float: right;
  position: relative;
  left: -50%;
  text-align: left
}

#inner {
  position: relative;
  left: 50%;
}

.item {
  text-align: center;
  margin-top: 30px;
  margin-left: 0px;
  width: 250px;
  float: left;
}

.screenshot {
  margin-top: 100px;
}

#bottom {
  clear: both;
}

#app-store {
  width: 150px;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #000000;
}

a:link {
  color: #000000;
}

/*a:visited {
  color: #7400F0;
}

a:hover {
  color: #f07300;
}*/

.btn {
  display: inline-block;
  padding: 6px 6px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
}

.btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #BF380B;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #f07300; /*333*/
  background-color: #fff; /*ebebeb*/
  border-color: #f07300; /*adadad*/
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}